.news-list ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}
.news-list ul .news-item {
  margin-bottom: .5rem;
  padding: .5rem;
}
.news-list ul .news-item .card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  background: #fff;
  width: 100%;
}
.news-list ul .news-item .card img {
  object-fit: cover;
  width: 100%;
  height: 260px;
}
.news-list ul .news-item .card .card-body {
  padding: 1.25rem;
  text-align: justify;
}
.news-list ul .news-item .card .card-body h5 {
  margin: 1rem 0;
  color: #707070;
}
.news-list ul .news-item .card .card-utils {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.news-list ul .news-item .card .card-utils a {
  text-decoration: none;
  background: #333;
  color: #fff;
  padding: 0.25rem 1.25rem;
}
.news-list ul .news-item .card .card-utils button {
  border: 0;
  background: transparent;
  font-size: 1.25rem;
}
.news-list ul .news-item .card .card-footer {
  padding: 1.25rem;
  background: rgba(0, 0, 0, 0.03);
  font-size: 0.75rem;
}
.news-list h3 {
  text-align: center;
  padding: 1.25rem 0;
}
.news-list .load-more {
  text-align: center;
}
.news-list .load-more button {
  border: 0;
  background: #333;
  color: #fff;
  font-size: 1.2em;
  padding: 1.25rem;
}
