.news-list {
    ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: auto;

        .news-item {
            margin-bottom: .5rem;
            padding: .5rem;

            .card {
                border: 1px solid rgba(0,0,0,.125);
                border-radius: .25rem;
                background: #fff;
                width: 100%;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 260px;
                }
            
                .card-body {
                    padding: 1.25rem;
                    text-align: justify;

                    h5 {
                        margin: 1rem 0;
                        color: rgb(112, 112, 112)
                    }
                }
            
                .card-utils {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 1rem;

                    a {
                        text-decoration: none;
                        background: #333;
                        color: #fff;
                        padding: .25rem 1.25rem
                    }

                    button {
                        border: 0;
                        background: transparent;
                        font-size: 1.25rem
                    }
                }
            
                .card-footer {
                    padding: 1.25rem;
                    background: rgba(0,0,0,.03);
                    font-size: .75rem
                }
            }
        }
    }

    h3 {
        text-align: center;
        padding: 1.25rem 0;
    }

    .load-more {
        text-align: center;

        button {
            border: 0;
            background: #333;
            color: #fff;
            font-size: 1.2em;
            padding: 1.25rem
        }
    }
}