.flex {
    display: flex;
}

.search-form {
    padding: 20px;

    form {
        .flex();
        font-size: 2rem;
        justify-content: space-evenly;

        .form-group {
            &.country,
            &.category,
            &.keyword {
                flex-basis: 25%;
            }

            &.source {
                flex-basis: 50%;
            }
            
            .form-control {
                width: 100%;
                padding: 10px;
                -webkit-appearance:none;
                border: 0px;
                border-radius: 5px;
                outline: none;
            }
        }

        button {
            padding: 10px;
            border: 0px;
            outline: none;
            margin: 0 .1rem
        }
    }
}