.flex {
  display: flex;
}
.search-form {
  padding: 20px;
}
.search-form form {
  display: flex;
  font-size: 2rem;
  justify-content: space-evenly;
}
.search-form form .form-group.country,
.search-form form .form-group.category,
.search-form form .form-group.keyword {
  flex-basis: 25%;
}
.search-form form .form-group.source {
  flex-basis: 50%;
}
.search-form form .form-group .form-control {
  width: 100%;
  padding: 10px;
  -webkit-appearance: none;
  border: 0px;
  border-radius: 5px;
  outline: none;
}
.search-form form button {
  padding: 10px;
  border: 0px;
  outline: none;
  margin: 0 0.1rem;
}
