@import url('https://fonts.googleapis.com/css?family=Karla|Poppins:400,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .news-item {
    flex: 1;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .news-item {
    flex: 0 0 49%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .news-item {
    flex: 0 0 33%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
