#app {
    @dark_background : #343a40;
    @dark_sub_background: rgb(168, 168, 168);
    @dark_text : #fff;
    @light_background : '';
    @light_text: '';

    &.dark {
        header {
            background: @dark_background;
            color: @dark_text;

            a, button {
                color: @dark_text;
            }
        }

        .search-form {
            background: @dark_sub_background;

            button {
                background: @dark_background;
                color: @dark_text;
            }
        }

        .news-list {
            transition: .25s background ease-in-out;
            background: rgb(204, 204, 204);
        }
    }

    &.light {
        header {
            background:#f8f9fa;
            color: #333;

            a {
                color: #333
            }
        }

        .search-form {
            .form-control {
                border: 1px solid rgba(0,0,0,.125)
            }
        }

       
    }
}