#app.dark header {
  background: #343a40;
  color: #fff;
}
#app.dark header a,
#app.dark header button {
  color: #fff;
}
#app.dark .search-form {
  background: #a8a8a8;
}
#app.dark .search-form button {
  background: #343a40;
  color: #fff;
}
#app.dark .news-list {
  transition: 0.25s background ease-in-out;
  background: #cccccc;
}
#app.light header {
  background: #f8f9fa;
  color: #333;
}
#app.light header a {
  color: #333;
}
#app.light .search-form .form-control {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
