<template>
    <div class="bookmarks">
        <NewsList :news="getBookmarks"/>
    </div>
</template>

<script>
import { mapGetters } from 'vuex' 
import NewsList from '@/components/NewsList'

export default {
    components: {
        NewsList
    },
    computed: {
        ...mapGetters('main', [ 'getBookmarks' ])
    }
}
</script>