<template>
  <div class="home">
    <SearchForm />
    <NewsList :news="getNews"/>
    <Loader />
  </div>
</template>

<script>
import { mapGetters } from 'vuex' 
import Loader from '@/components/Loader'
import NewsList from '@/components/NewsList'
import SearchForm from '@/components/NewsSearchForm'

export default {
  name: 'home',
  components: {
    Loader,
    NewsList,
    SearchForm
  },
  computed:{
    ...mapGetters('main', [ 'getNews' ])
  }
}
</script>
