<template>
  <div class="loader" v-show="isLoading">
    <i class="fas fa-circle-notch"></i>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Loader',
  computed: {
    ...mapState('main', [
      'isLoading'
    ])
  },
}
</script>

<style scoped>
  .loader {
    text-align: center;
    padding: 1.25rem;
  }

  i {
    animation: spin .5s forwards infinite;
    font-size: 2rem;
  }

  @keyframes spin {
    from { transform: rotateZ(0deg) }
    to { transform: rotateZ(360deg)}
  }
</style>