<template>
    <div class="search-form">
        <div class="container">
            <form @submit.prevent ="handleSearch">
                <div class="form-group country" v-show="defaultParams">
                    <select class="form-control" v-model="country">
                        <option value="" selected="">Select Country</option>
                        <option value="us">United States of America</option>
                        <option value="gb">United Kingdom</option>
                        <option value="ca">Canada</option>
                        <option value="cn">China</option>
                        <option value="ru">Russia</option>
                        <option value="fr">France</option>
                        <option value="ph">Philippines</option>
                        <option value="ae">United Arab Emirates</option>
                        <option value="au">Australia</option>
                        <option value="ar">Argentina</option>
                        <option value="kr">South Korea</option>
                        <option value="id">Indonesia</option>
                    </select>
                </div>
                <div class="form-group category" v-show="defaultParams">
                    <select class="form-control" v-model="category">
                        <option value="" selected="">All Category</option>
                        <option value="business">Business</option>
                        <option value="entertainment">Entertainment</option>
                        <option value="general">General</option>
                        <option value="health">Health</option>
                        <option value="science">Science</option>
                        <option value="sports">Sports</option>
                        <option value="technology">Technology</option>
                    </select>
                </div>
                <div class="form-group source" v-show="!defaultParams">
                    <select class="form-control" v-model="sources">
                        <option value="" selected="">Select Source</option>
                        <option 
                            :key="source.id"
                            v-for="source in getSources" 
                            :value="source.id">{{source.name}}</option>
                    </select>
                </div>
                <div class="form-group keyword">
                    <input class="form-control" type="text" v-model="keyword" placeholder="Key Word"/>
                </div>
                <div class="form-group buttons">
                    <button :disabled="isLoading"><i class="fas fa-search"></i></button>
                    <button type="button" @click="toggleParams()">
                        <i class="fas fa-exchange-alt"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters, mapState, mapMutations } from 'vuex'
import '@/styles/components/SearchForm.css'

export default {
    name: 'SearchForm',
    data() {
        return{
            country: '',
            category: '',
            sources:  '',
            keyword: '',
            defaultParams: true,
        }
    },
    computed: {
        ...mapGetters('main', [
            'getSources'
        ]),
        ...mapState('main', [
            'isLoading',
            'newsPage'
        ])
    },
    methods: {
        ...mapActions('main', [ 'loadNews' ]),
        ...mapMutations('main', [ 'setSearchParams' ]),
        toggleParams() {
            this.country= ''
            this.category= ''
            this.sources= ''
            this.keyword= ''
            this.defaultParams = !this.defaultParams
        },
        handleSearch() {
            this.setSearchParams({
                country: this.country,
                category: this.category,
                q: this.keyword,
                sources: this.sources,
                page: 1,
                pageSize: 50
            })
            this.loadNews()
        }
    }
}
</script>

<style scoped>
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2) {
            form{
                flex-direction: column
            }

            form .form-group.buttons {
                display: flex;
                flex-direction: column;
                margin-top: .5rem
            }

            form .form-group.buttons button {
                margin-top: .5rem
            }
        }
</style>