<template>
    <div class="news-list">
        <div class="container">
            <h3 v-show="news.length">You have {{news.length}} results</h3>
            <ul v-show="news"> 
                <NewsItem 
                    v-for="(newsItem, i) in news" 
                    :key="i" 
                    :news="newsItem"/>
            </ul>
            <div class="load-more">
                <button 
                    v-show="canFetchNews"
                    @click="loadMoreNews">{{isLoading ? 'Loding Items' : 'Load More News' }}</button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState} from 'vuex'
import NewsItem from '@/components/NewsListItem'
import '@/styles/components/NewsList.css'

export default {
    name: 'NewsList',
    components: {
        NewsItem
    },
    props: {
        news: Array
    },
    computed: {
        ...mapState('main', [
            'canFetchNews',
            'isLoading'
        ])
    },
    methods: {
        ...mapActions('main', [ 'loadMoreNews' ])
    }
}
</script>