<template>
  <li class="news-item">
        <div class="card">
            <div class="card-header">
                <img :src="news.urlToImage || 'https://via.placeholder.com/240?text=No+Image+Available'" alt="" />
            </div>
            <div class="card-body">
                <h4>{{news.title}}</h4>
                <h5>{{news.source.name}}</h5>
                <p>{{news.content | clipText}}</p>
                <div class="card-utils">
                    <a :href="news.url" target="_blank">Go to page</a>
                    <button
                        v-show="!isBookmarked" 
                        @click="bookmark"><i class="far fa-bookmark"></i></button>
                    <button
                        v-show="isBookmarked" 
                        @click="unbookmark"><i class="fas fa-bookmark"></i></button>
                </div>
            </div>
            <div class="card-footer">
                <p>Published: {{news.publishedAt | formatDate}}</p>
            </div>
        </div>
  </li>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import moment from 'moment'

export default {
    name: 'NewsItem',
    props: {
        news: Object
    },
    data(){
        return {
            isBookmarked : false
        }
    },
    computed: {
        ...mapGetters('main', [ 'getBookmarks' ])
    },
    created(){
        let stringBookmarks = JSON.stringify(this.getBookmarks);
        let stringNews = JSON.stringify(this.news);
        this.isBookmarked = stringBookmarks.includes(stringNews);
    },
    updated() {
        let stringBookmarks = JSON.stringify(this.getBookmarks);
        let stringNews = JSON.stringify(this.news);
        this.isBookmarked = stringBookmarks.includes(stringNews);
    },
    filters: {
        clipText(text) {
            if (!text) return ''
            return text.substring(0,150) + '...'
        },
        formatDate(date) {
            return moment(date).format('YYYY/MM/DD')
        }
    },
    methods: {
        ...mapActions('main', [
            'addBookmark',
            'removeBookmark'
        ]),
        bookmark() {
            this.addBookmark(this.news)
            this.isBookmarked = true
        },
        unbookmark() {
            this.removeBookmark(this.news)
            this.isBookmarked = false
        }
    }
}
</script>