<template>
    <header>
        <a href="/">News Search & Bookmark</a>
        <ul>
            <router-link to='/'>Top News</router-link>
            <router-link to='/bookmarks'>Bookmarks</router-link>
            <ToggleTheme />
        </ul>
    </header>
</template>

<script>
import ToggleTheme from '@/components/ToggleTheme'
export default {
    name: 'TheHeader',
    components: {
        ToggleTheme
    }
}
</script>

<style scoped>
    @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 2) {
            header {
                flex-direction: column;
                font-size: .8rem
            }

            header ul {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            header ul a {
                padding: .5rem
            }
        }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;
        transition: .25s background ease-in-out;
    }

    header a{
        padding: 20px;
        text-decoration: none
    }

    .router-link-exact-active {
        opacity: 1;
    }
</style>
