<template>
    <button 
        class="toggle-theme"
        @click="toggleTheme">
            <i v-if="darkMode" class="fas fa-toggle-on"></i>
            <i v-else class="fas fa-toggle-off"></i>
    </button>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'

export default {
    name: 'ToggleDarkMode',
    computed: {
        ...mapState('main', [ 'darkMode' ])
    },
    methods: {
        ...mapActions('main', [ 'toggleTheme' ])
    }
}
</script>

<style scoped>
    .toggle-theme {
        border: 0px;
        background: transparent;
        font-size: 1rem;
    }
</style>